{% extends 'layout.html' %}

{% block body %}

<dl>
    {% for eqn in eqns %}
    {% if user.is_staff %}
    <p></p>
    {% endif %}
    <dt>
        <a href="{{ eqn.id }}/">{{ eqn.name }}</a>
    </dt>
    <dd>${{ eqn.latex }}$</dd>
    {% if user.is_staff %}
    <a style="float:right" href="{% url 'admin:eqns_equation_change' eqn.id %}" target="_blank">Edit</a>
    {% endif %}
    <dd>
        <ul>
            {% for v in eqn.variables %}
            <li>{{ v.symbol }}, {{ v.name }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for c in eqn.constants %}
            <li>{{ c.symbol }}, {{ c.name }}</li>
            {% endfor %}
        </ul>
    </dd>
    {% endfor %}
</dl>

<p>
    {% if prev_page %}
        <a href="{% url 'list_equations' %}?page={{ prev_page }}">&laquo; Prev</a>
    {% else %}
        <span style="color:#eee">&laquo; Prev</span>
    {% endif %}
    |
    {% if next_page %}
        <a href="{% url 'list_equations' %}?page={{ next_page }}">Next &raquo;</a>
    {% else %}
        <span style="color:#eee">Next &raquo;</span>
    {% endif %}
</p>

{% endblock %}