{% extends 'layout.html' %}

{% block body %}

<p><a href="{% url 'index' %}">&laquo; Back to list</a></p>
<h2>{{ eqn.name }}</h2>
<p>${{ eqn.latex }}$</p>
{% if user.is_staff %}
<p><a href="{% url 'admin:eqns_equation_change' eqn.id %}" target="_blank">Edit</a></p>
{% endif %}

<!--{{ eqn.sympy }}-->

<form action="" method="post">
<table>
{% for c in eqn.constants %}
<tr>
    <td colspan=3><strong>{{ c.name }}</strong></td>
</tr>
<tr>
    <td>{{ c.symbol }}</td>
    <td>= {{ c.value }}</td>
    <td>{{ c.unit }}</td>
</tr>
{% endfor %}
{% for v in eqn.variables %}
<tr>
    <td colspan=3><strong>{{ v.name }}</strong></td>
</tr>
<tr>
    <td>{{ v.symbol }}</td>
    <td>= <input type="text" name="{{ v.name }}" tabindex=1></td>
    <td>{{ v.unit.symbol }}</td>
<!--    <td><input type="radio" name="solvefor" value="{{ v.name }}" tabindex=2></td>-->
</tr>
{% endfor %}
</table>
<p><button tabindex=3>Solve</button></p>
{% csrf_token %}
</form>

{% endblock %}