{% extends 'layout.html' %}

{% block body %}

<p><a href="{% url 'list_equations' %}">&laquo; Back to list</a></p>
<h2>{{ eqn.name }}</h2>
<p>{{ eqn.sympy }}</p>
<p>Using the following parameters:</p>
<ul>
    {% for p in parameters %}
    <li>{{ p.name }}, {{ p.symbol }} = {{ p.value }}</li>
    {% endfor %}
</ul>
<p>The solution is:</p>
<ul>
    <li>{{ x.name }}, {{ x.symbol }} = {{ x.value }}</li>
</ul>

<form action="{% url 'show_equation' eqn.id %}" method="get">
<p><button tabindex=1>Again</button></p>
</form>

{% endblock %}